.container
  .jumbotron
    %h1 New Business
    %p Know of an amazing woman-owned business in Omaha? Add it here!
    %p=link_to 'All Businesses', businesses_path, class: 'btn btn-primary btn-lg'

= render 'form', business: business